<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>songbox</title>
</head>
<body>
    <form action="/ex/songbox/" method="post">
        <select name="score">
            <option value="10">10점</option>
            <option value="20">20점</option>
            <option value="30">30점</option>
            <option value="40">40점</option>
            <option value="50">50점</option>
            <option value="60">60점</option>
            <option value="100">100점</option>
        </select>
        <input type="submit" value="등록">
    </form>
</body>
</html>