<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
</head>
<body>
    <form method="post" action="login">
        ID : <input id='id' type='text' name="id"/><br>
        비밀번호 : <input id='pw' type='password' name="pw"/><br>
        <input type="submit" value="전송" name="submitbtn">
    </form>
</body>
</html>