<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>출근시간입력</title>
</head>
<body>
    <h1>출근시간입력</h1>
    <form method="post" action="work">
        이름 : <input id='name' type='text' name="name"/><br>
        출근 시간 : <input id='time' type='time' name="time"/><br>
        <input id='getto' type="time" name="getto">
        <input id='leave' type="time" name="leave">
        <input type="submit" id='submit'>
    </form>
</body>
</html>