body {
    font-family: 'Jua', sans-serif;
    font-size: 1.5rem;
}

table{
    width: 30%;
    text-align: center;
    margin: 30px auto;
}

fieldset{
    text-align: center;
    width: 25.5%;
    margin: 0 auto;
}

thead{
    background-color: #fff9c4;
}